In [3]:
from sklearn.feature_extraction.text import  CountVectorizer
import numpy as np
import pandas as pd

In [4]:
Data_File_json = 'SpamData/01_Processing/email-text-data.json'

In [5]:
data = pd.read_json(Data_File_json)

In [6]:
data.head()

,message,Categeory,FILENAME
0,"<!DOCTYPE HTML PUBLIC ""-//W3C//DTD HTML 4.0 Tr...",1,00001.7848dde101aa985090474a91ec93fcf0
1,1) Fight The Risk of Cancer!\n\nhttp://www.adc...,1,00002.d94f1b97e48ed3b553b3508d116e6a09
2,1) Fight The Risk of Cancer!\n\nhttp://www.adc...,1,00003.2ee33bc6eacdb11f38d052c44819ba6c
3,##############################################...,1,00004.eac8de8d759b7e74154f142194282724
4,I thought you might like these:\n\n1) Slim Dow...,1,00005.57696a39d7d84318ce497886896bf90d

In [7]:
data.shape

(5796, 3)

In [9]:
data.sort_index(inplace =True)

In [10]:
vectorizer = CountVectorizer(stop_words = 'english')

In [12]:
my_vector = vectorizer.fit_transform(data.message)

In [13]:
my_vector.shape

(5796, 102694)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train,x_test,y_train,y_test = train_test_split(my_vector , data.Categeory , test_size = 0.3,random_state = 38)

In [23]:
from sklearn.naive_bayes import MultinomialNB

In [24]:
classifier =MultinomialNB()

In [25]:
classifier.fit(x_train,y_train)

MultinomialNB()

In [26]:
y_test.shape

(1739,)

In [27]:
x_test.shape

(1739, 102694)

In [30]:
nr_correct = (y_test==classifier.predict(x_test)).sum()

In [31]:
nr_correct

1643

In [32]:
nr_in_corrt =(y_test!=classifier.predict(x_test)).sum()

In [33]:
nr_in_corrt

96

In [34]:
classifier.score(x_test,y_test)

0.9447958596894767

In [35]:
from sklearn.metrics import recall_score,precision_score,f1_score

In [36]:
recall_score(y_test,classifier.predict(x_test))

0.8311688311688312

In [41]:
precision_score(y_test,classifier.predict(x_test))

0.9889624724061811

In [42]:
f1_score(y_test,classifier.predict(x_test))

0.903225806451613

In [43]:
data

,message,Categeory,FILENAME
0,"<!DOCTYPE HTML PUBLIC ""-//W3C//DTD HTML 4.0 Tr...",1,00001.7848dde101aa985090474a91ec93fcf0
1,1) Fight The Risk of Cancer!\n\nhttp://www.adc...,1,00002.d94f1b97e48ed3b553b3508d116e6a09
2,1) Fight The Risk of Cancer!\n\nhttp://www.adc...,1,00003.2ee33bc6eacdb11f38d052c44819ba6c
3,##############################################...,1,00004.eac8de8d759b7e74154f142194282724
4,I thought you might like these:\n\n1) Slim Dow...,1,00005.57696a39d7d84318ce497886896bf90d
...,...,...,...
5791,http://news.bbc.co.uk/1/hi/england/2515127.stm...,0,01396.61983fbe6ec43f55fd44e30fce24ffa6
5792,"> >-- be careful when using this one.) Also, t...",0,01397.9f9ef4c2a8dc012d80f2ce2d3473d3b7
5793,">>>>> ""SM"" == Skip Montanaro <skip@pobox.com> ...",0,01398.169b51731fe569f42169ae8f948ec676
5794,"So then, ""Mark Hammond"" <mhammond@skippinet.co...",0,01399.ca6b00b7b341bbde9a9ea3dd6a7bf896
5795,"Hi there,\n\n\n\nNow this is probably of no us...",0,01400.f897f0931e461e7b2e964d28e927c35e